<table class="table table-striped">
  <ng-container>
    <ng-template
      *ngTemplateOutlet="theadTemplate; context: contextHeader"
    ></ng-template>
  </ng-container>

  <tbody>
    <ng-container>
      <ng-template
        *ngTemplateOutlet="
          tableBodyContentTemplate;
          context: { $implicit: source.items }
        "
      ></ng-template>
    </ng-container>
  </tbody>
</table>

<ng-container>
  <ng-template
    *ngTemplateOutlet="paginatorTemplate; context: contextPaginator"
  ></ng-template>
</ng-container>

<ng-template #tableBodyContentTemplate let-sourceItems>
  <ng-container *ngFor="let row of sourceItems; let rowIndex = index">
    <tr
      [ngClass]="rowClass(rowIndex, row)"
      *ngIf="!(editWorkData[rowIndex] && editWorkData[rowIndex].$$edit)"
      (click)="handleClickRow(rowIndex, row)"
    >
      <td *ngIf="showRowIndex">{{ this.calcNroRow(rowIndex) }}</td>
      <ng-container *ngFor="let col of columnsToDisplay; let colIndex = index">
        <td
          [attr.data-title]="col.label"
          class="data-grid-td"
          [ngStyle]="col.style"
        >
          <rpbj-data-grid-column-body
            [editableOptions]="definition.editableOptions"
            [isEditableGrid]="isEditableGrid()"
            [isLastColumn]="columnsToDisplay.length == colIndex + 1"
            [rowIndex]="rowIndex"
            [colDef]="col"
            [element]="row"
            [template]="customTemplates[col['field']]"
            [loading]="loading"
            (on-click-button)="handleClickButton($event)"
            (on-edit)="handleEditRow(rowIndex)"
            [expanded]="isRowExpanded(rowIndex)"
            [openExpandable]="handleOpenExpandable(rowIndex)"
            [closeExpandable]="handleCloseExpandable(rowIndex)"
          ></rpbj-data-grid-column-body>
        </td>
      </ng-container>
    </tr>
  </ng-container>
</ng-template>

<ng-template
  #theadTemplate
  let-datasource
  let-actions="actions"
  let-customHeader="customHeader"
>
  <thead>
    <tr>
      <th *ngIf="showRowIndex" [resizeGridColumn]="columnResize">N°</th>
      <ng-container
        *ngFor="let col of columnsToDisplay; let headerIndex = index"
      >
        <th
          [resizeGridColumn]="columnResize"
          [ngClass]="{ 'text-right': col.buttons }"
          class="data-grid-th {{ col.thClass }}"
          [ngStyle]="col.style"
        >
          <rpbj-data-grid-column-head
            [template]="customHeadersTemplates[headerIndex]"
            [disabled]="loading"
            [colDef]="col"
            [orderField]="datasource.orderBy"
            [orderDir]="datasource.orderDir"
            (on-sort)="actions.handleSort($event)"
          ></rpbj-data-grid-column-head>
        </th>
      </ng-container>
    </tr>
  </thead>
</ng-template>

<ng-template
  #paginatorTemplate
  let-show="show"
  let-disabled="disabled"
  let-actions="actions"
  let-comboPageSizeOptions="comboPageSizeOptions"
  let-datasource
>
  <rpbj-data-grid-paginator
    *ngIf="show && datasource.total > 0"
    [disabled]="disabled"
    (on-change-page)="actions.handleChangePage($event)"
    (on-change-page-size)="actions.handleChangePageSize($event)"
    [total]="datasource.total"
    [pageSize]="datasource.pageSize"
    [page]="datasource.page"
    [pageSizeOptions]="comboPageSizeOptions"
    [pageLength]="datasource.items.length"
  >
  </rpbj-data-grid-paginator>
</ng-template>
