<div class="data-grid-buttons-root">
  <ng-container
    *ngIf="
      addEditableButtons &&
      (editableOptions && editableOptions.hidden
        ? !editableOptions.hidden(item, rowIndex)
        : true)
    "
  >
    <rpbj-base-button
      [variant]="variants.BASIC"
      color="primary"
      tooltip="Editar Registro"
      icon="edit"
      [disabled]="
        disabled ||
        (editableOptions && editableOptions.disabled
          ? editableOptions.disabled(item, rowIndex)
          : false)
      "
      (on-click)="handleClickEdit()"
    ></rpbj-base-button>
  </ng-container>

  <ng-container *ngFor="let btn of buttons">
    <rpbj-base-button
      [variant]="variants.BASIC"
      [color]="btn.color"
      [tooltip]="btn.tooltip"
      [icon]="btn.icon"
      [label]="btn.label"
      (on-click)="handleClickButton(btn, $event)"
      [disabled]="
        (btn.disabled ? btn.disabled(item, rowIndex) : false) || disabled
      "
      [styleClass]="btn.styleClass"
      *ngIf="btn.hidden ? !btn.hidden(item, rowIndex) : true"
      [propTitle]="btn.title || undefined"
    ></rpbj-base-button>
  </ng-container>
</div>
