<ng-container [ngSwitch]="columnType">
  <ng-container *ngSwitchCase="enumColumnType.CUSTOM_TEMPLATE">
    <ng-container
      *ngTemplateOutlet="
        template;
        context: {
          $implicit: element,
          rowIndex: rowIndex,
          expandable: {
            open: openExpandable,
            close: closeExpandable,
            isOpen: expanded
          },
          loading: loading
        }
      "
    >
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="enumColumnType.BUTTON">
    <rpbj-data-grid-buttons
      [editableOptions]="editableOptions"
      [addEditableButtons]="isEditableGrid && isLastColumn"
      [rowIndex]="rowIndex"
      [item]="element"
      [buttons]="colDef.buttons"
      [disabled]="loading"
      (on-click-button)="handleClickButton($event, element, rowIndex)"
      (on-edit)="handleClickEdit()"
    ></rpbj-data-grid-buttons>
  </ng-container>

  <ng-container *ngSwitchCase="enumColumnType.DATETIME">
    {{
      getProperty(element, colDef["field"])
        | dateFormat : "" : colDef["dateTimeFormat"] || datetimeDefaultFormat
    }}
  </ng-container>

  <ng-container *ngSwitchCase="enumColumnType.TEXT">
    {{ getProperty(element, colDef["field"]) }}
  </ng-container>
</ng-container>
