<ng-container *ngIf="template; else normalHeader">
  <ng-container *ngTemplateOutlet="template; context: {}"> </ng-container>
</ng-container>

<ng-template #normalHeader>
  <ng-container *ngIf="colDef.sortable; else noSortable">
    <button
      class="button-sortable"
      (mouseover)="hover = true"
      (mouseleave)="hover = false"
      (click)="handleClickSort()"
    >
      {{ colDef.label }}

      <span
        *ngIf="orderField == colDef.field"
        class="feather-icon-chevron-down"
        [class]="{
          'sortable-arrow-icon-down': orderDir == 'desc',
          'arrow-disabled': disabled
        }"
      ></span>

      <span
        *ngIf="orderField != colDef.field && hover"
        class="feather-icon-chevron-up"
        class="sortable-arrow-icon sortable-arrow-icon-blur"
      ></span>
    </button>
  </ng-container>
</ng-template>

<ng-template #noSortable>
  {{ colDef.label }}
</ng-template>
