.arrow-disabled {
  opacity: 0.3;
}

.sortable-arrow-icon-down {
  transform: rotate(180deg);
}

.sortable-arrow-icon {
  font-size: 16px;
  position: relative;
}

.sortable-arrow-icon-blur {
  opacity: 0.5;
}
